@import url('design-system.css');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*Utilities*/
img{
  display: block;
}

a{
  text-decoration: none;
  color:#fff;
}

.btn{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 3px solid var(--clrGreen);
}

.container-bg{
  max-width:1540px;
  margin: auto;
  padding: var(--bodyPadding);
  overflow: hidden;
}

.container-margin{
  max-width: 1116px;
  height: 100%;
  margin: auto;
  position: relative;
}

.border{
  border-bottom: 1px solid #fff;
}

/*Body*/

body{
  font-family: 'SpaceGrotesk', sans-serif;
  background: var(--clrBlack);
  color:#fff;
}

/*Header*/
.header{
 height: 90vh;
 z-index: 5;
 position: relative;
}

.profile-image-container{
  position: absolute;
  right:0;
  width: 450px;
  height: auto;
  top:calc(-1*var(--bodyPadding));
  z-index: -1;
}

.profile-image{
width: 100%;
height: 100%;
}

.circle-pattern{
  position: absolute;
  bottom:70px;
  transform: translateX(-50%);
}

/*
.ring-pattern-container{
  position: absolute;
  transform: translateX(-40%);
  top:15%;
  z-index: -1;
}

.ring-pattern-container::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--clrBlack), rgba(0,0,0,0) 70%);
}*/

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
  z-index:10;
}

.logo{
  font-size: 32px;
  font-weight: 500;
}

.profile-links{
  display: flex;
  gap:30px;
  margin-right:30px;
}

/*Hero*/
.main-title{
  font-size: var(--XL-font-size);
  line-height: var(--XL-line-height);
  letter-spacing: var(--XL-letter-spacing);
}

.main-title span{
  position: relative;
}

.main-title span::before{
  content: '';
  position: absolute;
  width: 93%;
  border-bottom: 6px solid var(--clrGreen);
  bottom: 8px;
  left:1%;
}

.hero p{
  width: 445px;
  height: 84px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 42px 0;
}

/*Tech Stack*/
.tech-stack{
  margin-top: 60px;
  position: relative;
}

/*
.tech-stack .ring-pattern-container{
  right:-50%;
  bottom: 50px;
}

.tech-stack .ring-pattern-container::before {
  background: linear-gradient(-90deg, var(--clrBlack), rgba(0,0,0,0) 70%);
}*/

.tech-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  row-gap: 50px;
}

.tech-skill{
  font-size: var(--L-font-size);
  line-height: var(--L-line-height);
  letter-spacing: var(--L-letter-spacing);
  color:#fff;
}

.years{
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color:var(--clrLightGrey);
  margin-top: 10px;
}

/*Projects Section*/
.projects-grid-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:40px;
  margin: auto;
}

.project-card{

}

.project-card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}