@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&family=Public+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

:root{
  /*Primary Colors*/
  --clrDesatCyan: #5FB4A2;
  --clrDarkCyan:#56a292;
  --clrVeryDarkBlue:#1d3445;
  --clrDarkBlue:#203A4C;
  --clrGrayishDarkBlue:#33323d;

  /*Secondary Colors*/
  --clrVeryLlightGrey: hsl(0,0%,98%);
  --clrLightGrey:#eaeaeb;
  --clrMediumGrey:#33323d;
  --clrBrightRed:#f42f2f;
  --clrLineColor:rgba(51, 50, 61, 0.15);

  /*Margin & Padding & Gaps*/
  --marginSectionBottom:150px;
  --marginSectionTitleBottom:28px;
  --marginSectionElementBottom:32px;
  --marginPortfolioItemBottom:85px;
  --marginDetailHero:110px;
  --marginDetailSections:29px;
  --paddingSectionElement:48px;
  --gapGrid:125px;
  
  /*Border*/
  --borderLine: 1px solid var(--clrLineColor);

  /*Transitions*/
  --trnHover:0.2s ease-in-out;
}

/*CSS Reset*/
*,
*::before,
*::after {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color:var(--clrGrayishDarkBlue);
}

ul{
  list-style: none;
}

  /*Typography*/

  /*Headings*/
h1, h2, h3, h4 {
  font-family: 'Ibarra Real Nova', serif;
}

h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: -0.45px;
}

h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3{
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.285px;
}

h4{
  font-style: normal;
  font-weight: 400;
}

p, a, span {
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

a{
  text-decoration: none;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*Buttons*/
.btn{
  border:none;
  width: 202px;
  height: 48px;
  font-family: 'Public Sans', sans-serif;
  font-weight:400;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  background: #fff;
  cursor: pointer;
  transition: all var(--trnHover);
}

.btn-primary {
  width: 154px;
  background: var(--clrDarkBlue);
  color:#fff;
  position: relative;
}

/*Arrow Icon*/
.arrow-icon-wrapper{
 position: absolute;
 height: 48px;
 width: 48px;
 left:-48px;
 bottom:0;
 background: var(--clrVeryDarkBlue);
 transition: all var(--trnHover);
}

.arrow-icon-wrapper svg{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}

.arrow-icon-wrapper:hover{
  background: cyan;
}

.btn-primary:hover {
  background: var(--clrDesatCyan);
}

.btn-primary:hover .arrow-icon-wrapper{
  background: var(--clrDarkCyan);
}

.btn-main{
  width: 200px;
  background: var(--clrDarkBlue);
  color:#fff;
  transition: all var(--trnHover);
}
.btn-main:hover{
  background: #3a5f7a;
}

.btn-secondary{
  border:1px solid var(--clrGrayishDarkBlue);
  color:var(--clrGrayishDarkBlue);
}

.btn-secondary:hover{
  background: var(--clrGrayishDarkBlue);
  color:#fff;
}



.btn-action{
  width: 162px;
}

.btn-md{
  height: 48px;
  width: 178px;
}

.container{
  width: 1240px;
  margin: auto;
}

