@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&family=Public+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

:root{
  /*Primary Colors*/
  --clrDesatCyan: #5FB4A2;
  --clrVeryDarkBlue:#1d3445;
  --clrDarkBlue:#203A4C;
  --clrGrayishDarkBlue:#33323d;

  /*Secondary Colors*/
  --clrVeryLlightGrey: hsl(0,0%,98%);
  --clrLightGrey:#eaeaeb;
  --clrMediumGrey:#33323d;
  --clrBrightRed:hsl(0,90%,57%);
  --clrLineColor:rgba(51, 50, 61, 0.15);

  /*Margin & Padding & Gaps*/
  --marginSectionBottom:150px;
  --marginSectionTitleBottom:28px;
  --marginSectionElementBottom:32px;
  --marginPortfolioItemBottom:85px;
  --marginDetailHero:110px;
  --marginDetailSections:29px;
  --paddingSectionElement:48px;
  --gapGrid:125px;
  
  /*Border*/
  --borderLine: 1px solid var(--clrLineColor);
}

/*CSS Reset*/
*,
*::before,
*::after {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color:var(--clrGrayishDarkBlue);
}

ul{
  list-style: none;
}

  /*Typography*/

  /*Headings*/
h1, h2, h3, h4 {
  font-family: 'Ibarra Real Nova', serif;
}

h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: -0.45px;
}

h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3{
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.285px;
}

h4{
  font-style: normal;
  font-weight: 400;
}

p, a, span {
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

a{
  text-decoration: none;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*Buttons*/
.btn{
  border:none;
  width: 202px;
  height: 48px;
  font-family: 'Public Sans', sans-serif;
  font-weight:400;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  background: #fff;
  cursor: pointer;
}

.btn-primary {
  width: 154px;
  background: var(--clrDarkBlue);
  color:#fff;
  position: relative;
}

.btn-primary.btn-arrow::before {
  content: '';
  position: absolute;
  height: inherit;
  width: 48px;
  background:var(--clrVeryDarkBlue) url('./images/icons/down-arrows.svg') no-repeat center;
  left:-48px;
  top:0;
}

.btn-main{
  width: 200px;
  background: var(--clrDarkBlue);
  color:#fff;
}

.btn-secondary{
  border:1px solid #000;
}

.btn-action{
  width: 162px;
}

.btn-md{
  height: 48px;
  width: 178px;
}

.container{
  width: 1240px;
  margin: auto;
}

