@import url('design-system.css');


/*Navigation*/
.navbar{
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background: var(--clrGrayishDarkBlue);
}

.nav-header{
  background: none;
  color:var(--clrGrayishDarkBlue);
}



.navbar-footer-wrapper{
  width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo-menu-wrapper{
  display: flex;
  align-items: center;
}

.logo-menu-wrapper svg{
  margin-right: 50px;
}

.menu{
  display: flex;
  gap:30px;
}

.menu a{
  color:#fff;
}

.menu.nav-header a{
  color:var(--clrGrayishDarkBlue);
}

.menu a.active-nav-link {
  color:var(--clrDarkCyan);
}

.social-links{
  display: flex;
  gap:16px;
}

/*Hero Section*/
.hero-section{
  position: relative;
  margin-bottom: var(--marginSectionBottom);
}

.hero-image img{
  height: inherit;
  width: 100%;
  object-fit: cover;
}

 .text-box{
  position: absolute;
  height: 370px;
  width: 452px;
  bottom: 0;
  left:0;
  background: #fff;
  padding: 60px 60px 60px 0;
}

.hero-section .btn{
  position: absolute;
  transform: translateX(48px);  
  bottom: 0;
}

/*About Section*/
.about-section{
  display: grid;
  height: 600px;
  grid-template-columns: repeat(2,1fr);
  gap:var(--gapGrid);
  margin-bottom: var(--marginSectionBottom);
}

.profile-image{
  width: 100%;
  object-fit:cover;
}

.about-text-wrapper {
  border-top: var(--borderLine);
  border-bottom:var(--borderLine);
  padding:50px 0;
}

.about-text-wrapper h2{
  margin-bottom: var(--marginSectionTitleBottom);
}

.about-me{
  width: 350px;
  height: 360px;
  font-size: 16px;
  margin-bottom: 24px;
}


/*CTA*/
.cta-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--marginSectionBottom);
}

.cta-text-box{
  width:350px;
  height: 84px;
}

.connecting-line{
  width: 534px;
  height: 1px;
  background: var(--clrLineColor);
}

.portfolio-index-wrapper{
  margin-bottom: var(--marginSectionBottom);
}

/*Portfolio Index Card*/
.card-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:var(--gapGrid);
  height:500px;
  margin-bottom: var(--marginPortfolioItemBottom);
}

.card-text{
 padding:50px 0 25px 0;
 border-top:var(--borderLine);
 border-bottom:var(--borderLine);
}

.card-text h2{
  margin-bottom: 30px;
}

.card-text p{
  margin-bottom: 20px;
}

.card-image-wrapper{
  width: 557.5px;
  height: 520px;
}

/*Porfolio Details*/
.details-hero-wrapper{
  margin-bottom: var(--marginDetailHero);
  height: 500px;
}

.details-hero-wrapper img{
  margin: auto;
  display: block;
  width:100%;
  object-fit: cover;
}

.portfolio-details-wrapper{
  display: grid;
  grid-template-columns: 400px 715px;
  gap:var(--gapGrid);
}

.inner-details-description-wrapper{
  display: flex;
  flex-direction: column;
  border-top: var(--borderLine);
  border-bottom: var(--borderLine);
  padding: var(--paddingSectionElement) 0;
}

.description{
  padding: 29px 0 23px 0;
}

.keywords-wrapper{
  margin-bottom: 16px;
}

.keywords{
  color:var(--clrDesatCyan);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.techstack-wrapper{
  margin-bottom: var(--marginSectionElementBottom);
}


.project-background h3{
  margin-bottom: var(--marginSectionTitleBottom);
}
.project-background-text{
  margin-bottom: 40px;
}

.static-previews-wrapper img{
  width: 100%;
  object-fit: cover;
  margin-bottom: var(--marginSectionElementBottom);
}

/*Portfolio Details Nav*/
.details-nav{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 132px;
  margin-bottom: 115px;
}

.prev-details,
.next-details{
  display: flex;
  align-items: center;
  border: var(--borderLine);
}

.prev-details{
  border-left: none;
  border-right: none;
}

.next-details {
  border-right: none;
}

.next-details{
  justify-content: end;
}

.prev-details img{
  margin-right: 32px;
}

.next-details img{
  margin-left: 32px;
}

.details-nav p {
  font-size: 16px;
  opacity: 0.5;
}

.prev-navigation, 
.next-navigation{
  display: flex;
  flex-direction: column;
}

/*Contact Page*/
/*Get In Touch section*/
.getintouch-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:var(--gapGrid);
  border-top: var(--borderLine);
  border-bottom: var(--borderLine);
  padding:var(--paddingSectionElement) 0;
}

.getintouch-text-wrapper{
  width: 635px;
}

.getintouch-text{
  margin-bottom: 24px;
}

/*Contact Form*/
.contact-form-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:var(--gapGrid);
  padding: var(--paddingSectionElement) 0;
}

.contact-form{
  width: 635px;
}

.form-group{
  margin-bottom: 24px;
  position: relative;
}

small{
  position: absolute;
  left:0;
  bottom:-14px;
  margin: 0;
  padding: 0;
}

.contact-form label{
  font-family: 'Public Sans';
  font-size: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 8px;
}

.contact-form input, 
.contact-form textarea{
  width: 100%;
  height: 48px;
  border:none;
  background: #e6e6e7;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding:9px 16px;
}

.form-group input,
.form-group textarea {
  vertical-align: middle;
}

.contact-form input:focus,
.contact-form textarea:focus{
  outline:1px solid var(--clrDesatCyan);
}

.contact-form input.alert,
.contact-form textarea.alert{
  outline: 1px solid var(--clrBrightRed);
}

.contact-form textarea {
  height: 96px;
  resize: none;
}

/*Modals*/
.success-modal-wrapper{
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 0;
  color:#fff;
  background: rgba(51,50,61,0);
  z-index: 1;
  transform-origin:center;
  transition: transform 0.5s ease-in-out;
}

.success-modal-wrapper.open {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgba(51,50,61,0.85);
  animation: scaleUpAnimation 0.3s ease-in-out
}

.success-modal-wrapper.closing{
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgba(51,50,61,0.85);
  animation: scaleDownAnimation 0.3s ease-in-out;
}

@keyframes scaleUpAnimation {
  0% {transform:scale(0);}
  100% {transform: scale(1);}
}

@keyframes scaleDownAnimation {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}

.success-modal-inner-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 600px;
  border-radius: 5px;
  background: #202020;
  opacity: 1;
  z-index:10;
  padding: 30px;
}

.modal-text{
line-height:22px;
margin: 10px 0;
}

.modal-signature{
  margin-top: 10px;
}

.modal-signature p{
 line-height: 23px;
}

.success-modal-inner-wrapper .btn{
  margin-top: 25px;
}
