@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

/* */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
/*Typography*/
--ffRoboto:'Roboto', sans-serif;
--ffMontserrat:'Montserrat', sans-serif;
--ffLato:'Lato', sans-serif;
--ffRaleway:'Raleway', sans-serif;

/*Colors*/
--clrDark:#28282e;
--clrLightBg:#f4eae8;

/*Spacing (Guild)*/
--paddingMain:20px;
--gapMain:60px;

/*Typogaphy*/

}

/*Utilities*/

.highlight{
font-weight: bold;
}

.section-title {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 0;
}

.sub-section-title{
  font-family: var(--ffMontserrat);
  font-weight:600;
  text-transform: uppercase;
  letter-spacing:1px; 
}

.small{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.medium{
  font-size: 18px;
}

body{
  color:var(--clrDark);
  font-family:var(--ffLato);
}

li{
  list-style: none;
}

a, a:visited{
color:black;
text-decoration: none;
}

.container{
  padding:55px 15px 25px 15px;
}

/*Cover Letter*/
.cover-letter-wrapper{
 height: 100vh;
 padding: 50px 40px 0 40px ; 
}

.cover-letter-header a
{
  color:blue;
}

.cover-letter-salutation {
  margin-bottom: 16px;
}
.cover-letter-signature {
  margin-top: 16px;
}


.cover-letter-header{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap:20px;
  line-height:23px;
}

.cover-letter-date {
  margin-bottom: 30px;
  font-weight: 600;
}

.cover-letter-text{
  line-height:26px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap:10px;
}




/*Resume*/

/*Header*/
.resume-header .title, .title-skill{
  text-align: center;
  text-transform: uppercase;
}

.resume-header h1 {
  font-size:52px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.resume-header h2{
  letter-spacing:4px;
  font-size:26px;
}

/*Main Page*/
.main-page-wrapper{
  max-width: 1440px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: auto;
}


/*Info Section*/
.info-section-wrapper{
  background: var(--clrLightBg);
  padding: var(--paddingMain);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 400px;
  gap:10px;
}


/*Contact Menu*/
.contact-menu li{
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin-bottom:6px;
}

.contact-section{
  display: flex;
  flex-direction: column;
}

/*Education Section*/
.education-menu li:not(:last-child){
  margin-bottom: 18px;
}

.education-menu li{
 display: flex;
 flex-direction: column;
 gap:2px;
}

/*Skills Section*/
/*
.skills-section-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}*/

.competent-skills-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 20px;
}


.skills-section-content h4{
  margin-bottom: 8px;
}

.skills-menu li{
  margin: 4px 0;
  letter-spacing: 0.75px;
  line-height: 20px;
}


.sub-menu{
  margin-left: 10px;
}

/*Experience Page*/
.experience-page-wrapper{
  padding: var(--paddingMain);
  line-height: 24px;
  width: 960px;
}

.experience-page-wrapper p, 
.experience-page-wrapper ul
{
  max-width: 640px;
}

.experience-section,
.projects-section {
  margin: 60px 0;
}

.job-title,
.project-title{
  margin-bottom: 8px;
  letter-spacing: 0.75px;
}

.experience-details{
  display: flex;
  flex-direction: column;
  gap:4px;
}

.company-name{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.75px;
}

.years-active{
  font-weight: 600;
}

.experience-tasks-list li{
  list-style:inside;
}

/*Projects Section*/
.project-detail-wrapper{
 margin-bottom: 28px;
}

.project-desc{
  margin-bottom: 10px;
}

.technologies-list{
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 12px;
}

.technology-title{
  letter-spacing: 0.75px;
  font-weight: 600;
}

.links-title{
  font-size: 16px;
}

.links-key{
  font-size: 15px; 
}

.links-key a{
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
}


/*Responsive Design*/
@media screen and (max-width:960px){
  .main-page-wrapper{
    max-width: 760px;
    display: flex;
    flex-direction: column;
  }
}