@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

:root{
  /*Colors*/
  --clrOrange:#FF7E1B;
  --clrLightOrange:#FFEEE2;
  --clrVeryDarkBlue:#1D2026;
  --clrBlueGrey:#69707D;
  --clrLightGrey:#B6BCC8;
  --clrVeryLightGrey:#F6F8FD;
  --clrSeperator:#E4E9F2;

  /*Typography*/
  --ffMain:'Kumbh Sans', sans-serif;  

  /*Transitions*/
  --trsMain:0.25s ease-in-out;
}

/*Make images easier to work with*/
img{
  display:block;
  max-width: 100%;
  max-height: 100%;
  object-fit:cover;
}

/*Remove list styling*/
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  margin: auto;
}

.active::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, 0.6);
  border: 2px solid var(--clrOrange);
  border-radius: 10px;
}

.btn{
  border:none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-primary{
  background: var(--clrOrange);
  border-radius: 10px;
  color:#fff;
  padding: 18px 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.btn-primary:disabled{
  background: var(--clrLightGrey);
}

.btn:disabled{
  cursor:default;
}

.btn-block{
  width: 100%;
}

.text-dark{
  color:var(--clrVeryDarkBlue);
  font-weight: 700;
}

.text-light{
  color:var(--clrLightGrey);
  font-weight: 700;
}