@import url('./design-system.css');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--ffMain);
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
}

/*LightBox*/
.lightbox-overlay{
 display: none;
 position: fixed;
 top:0;
 left:0;
 width: 100vw;
 height: 100vh;
 background: rgba(0,0,0,0.0);
 z-index: 1;
}

.lightbox-open{
  display: flex;
  background: rgba(0,0,0,0.9);
}

.lightbox-img-wrapper{
  width: 550px;
  height: 550px;
  position: absolute;
  top: 133px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 2;
}

.icon-prev-wrapper,
.icon-next-wrapper {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #fff;
  top:50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.icon-next-wrapper{
  right: 0;
  transform: translateX(50%);
}

.icon-close{
  position: absolute;
 z-index: 5;
}

.icon-close{
  top:-48px;
  right:0;
  transform: scale(1.3);
  cursor: pointer;
}

.lightbox-thumbnails-wrapper{
  position: absolute;
  bottom:-40px;
  left:50%;
  transform: translate(-50%,100%);
  display: flex;
  gap:30px;
}

.lightbox-thumbnail-wrapper{
  width: 88px;
  height: 88px;
  cursor: pointer;
  position: relative;
}

.lightbox-img-wrapper img{
  border-radius: 10px;
}


.lightbox-thumbnail-wrapper:not(.active)::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, 0.45);
  border-radius: 10px;
  opacity: 0;
  transition: opacity .3s ease;
}

.lightbox-thumbnail-wrapper:not(.active):hover::after{
  opacity: 1;
}

.close-icon{
  position: absolute;
  top:0;
  right:0;
  z-index: 5;
}

/*Navbar*/
.navbar-wrapper{
  width: var(--widthMain);
  height: 40px;
  margin-top: 28px;
  margin-bottom: 40px;
  justify-content: space-between;
  position: relative;
}

.navbar-wrapper::after{
  content:'';
  position:absolute;
  bottom:-15px;
  left:0;
  width: 100%;
  height: 1px;
  background: var(--clrSeperator);
}

.navbar-wrapper,
.navbar-brand,
.navbar-menu,
.navbar-user{
  display: flex;
  align-items: center;
}

.logo-wrapper{
  margin-right: 56px;
}

.navbar-menu{
  gap:32px;
}

.navbar-menu a{
  color:var(--clrBlueGrey);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  transition: var(--trsMain);
  position: relative;
}

.navbar-menu a.current-nav{
  color:var(--clrVeryDarkBlue);
  font-weight: 700;
}

.navbar-menu a:hover{
  color:var(--clrVeryDarkBlue);
}

.navbar-menu a::after{
  content:'';  
  position: absolute;
  left:50%;
  bottom: -30px;
  width: 0;
  height: 4px;
  background: var(--clrOrange);
  transform: translateX(-50%);
  transition: var(--trsMain);
}

.navbar-menu a:hover::after{
  width:58px;
}

.navbar-user{
  gap:46px;
  position: relative;
}

/*Navbar User Dropdown*/
.user-profile-wrapper{
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.user-dropdown-menu-wrapper{
  position: absolute;
  width: 250px;
  height: auto;
  left:-150px;
  top:54px;
  padding: 10px;
  background: var(--clrVeryLightGrey);
  border:1px solid var(--clrLightGrey);
  z-index: 2;
}

.arrow-up{
  position: absolute;
  top:-12px;
  right:50px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid var(--clrLightGrey)
}

.user-dropdown-menu li {
  padding: 5px 0;
  width: auto;
  font-size: 15px;
  cursor: pointer;

}

.user-dropdown-menu li:hover{
  font-weight: 700;
}

.cart-icon-wrapper{
  position: relative;
}

.cart-qty-display{
  position: absolute;
  width: 24px;
  height: 20px;
  background: var(--clrFuchsia);
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  border-radius: 50%;
  top:-10px;
  right:-10px;
}

.avatar-wrapper{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

}

.avatar-wrapper img{
  transition: transform 0.5s
}

.avatar-wrapper::after{
  content:'';
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.avatar-wrapper:hover::after{
border: 2px solid var(--clrOrange);
}

.avatar-wrapper:hover img{
  transform: scale(1.1);
}

/*Product Page*/
.product-page-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:24px;
  margin: auto;
  width: var(--widthMain);
  position: relative;
}

/*Product Card*/
.product-card-wrapper{
  padding: 12px;
  border:1px solid var(--clrLightGrey);
}

.product-card-img-wrapper{
  width: 250px;
  height: 250px;
  margin-bottom: 24px;
}

/*Product Details*/
.product-detail-image-wrapper{
  width: 445px;
  height: 445px;
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
}

.zoom-slider-container{
  position: absolute;
  top:110px;
  right:-80px;
  transform: rotate(-90deg);
  width: 200px;
}

.zoom-slider {
  width: 100%;
  appearance: none;
  height: 15px;
  border-radius: 10px;
  background: #d3d3d3;
  opacity: 0.5;
  transition: opacity var(--trsMain);
}

.zoom-slider:hover{
  opacity: 1;
}

.zoom-slider::-webkit-slider-thumb{
  appearance: none;
  height: 15px;
  width: 15px;
  background: var(--clrDarkBlue);
  border-radius: 50%;
}


.product-detail-image-wrapper img{
  transform: scale(var(--zoomRate));
}

.product-card-body .company-name{
  margin-bottom: 14px;
}

.product-card-body .product-name{
  font-weight: 500;
  margin-bottom: 6px;
}

.product-card-body .product-price{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 16px;
}

.card-categories{
  display: flex;
  gap:10px
}

.product-category{
  color: var(--clrBlueGrey);
  /*border:1px solid var(--clrLightGrey);*/
  box-shadow: 0 2px 4px var(--clrLightGrey);
  padding: 5px;
  margin-bottom: 18px;
}

.color-thumbnails-wrapper{
  display: flex;
  gap:10px;
  cursor:pointer
}

.color-thumbnail-wrapper{
  width: 50px;
  height: 40px;
}

.color-thumbnail-wrapper img{
  border-radius: 5px;
}

.product-thumbnails{
  display: flex;
  max-width: 445px;
  justify-content: space-between;
}

.thumbnail-wrapper{
  width: 88px;
  height: 88px;
  position: relative;
  cursor: pointer;
}


.thumbnail-wrapper::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(255,255,255, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail-wrapper:hover::after{
  opacity: 1;
}

.product-main-image-wrapper img,
.thumbnail-wrapper img{
border-radius: 10px;
}

/*Product Info Section*/
.product-info-wrapper{
  padding: 62px 0;
  width: 445px;
}

.company-name{
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:var(--clrOrange);
  margin-bottom: 27px;
}

.product-name{
margin-bottom: 32px;
}

.product-description{
  font-weight: 400;
  line-height: 26px;
  color:var(--clrBlueGrey);
  margin-bottom: 24px;
}

.price-wrapper{
  margin-bottom: 10px;
}
.product-price{
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 10px;
}

.discount-tab{
 margin-left: 16px;
 font-size: 16px;
 line-height: 20px;
 color:var(--clrOrange);
 padding: 4px 8px;
 background: var(--clrLightOrange);
 border-radius: 6px;
}

.original-price{
  font-size: 16px;
  line-height: 26px;
  text-decoration: line-through;
}

.sizes-wrapper{
  margin-bottom: 20px;
}

.size-title{
  margin-bottom: 10px;
}

.sizes-inner-wrapper{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:5px;
  max-width: 200px;
}

.sizes-inner-wrapper.no-size{
  border:1px solid red;
  border-radius: 3px;

}

.size-card{
  text-align: center;
  padding: 3px;
  border:1px solid var(--clrLightGrey);
  border-radius: 3px;
  transition: all var(--trsHover);
}

.size-card:hover,
.size-card.selected
{
  background: var(--clrBlueGrey);
  color:#fff;
}

.cart-control-wrapper{
  display: flex;
  gap:16px;
}

.size-alert{
  display: none;
}

.size-alert.visible{
  display: block;
  color:red;
  margin: 5px 0;
}

.qty-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157px;
  height: 56px;
  background: var(--clrVeryLightGrey);
  border-radius: 10px;
}

.icon-cart{
margin-right: 12px;
vertical-align:bottom;
transform: scale(0.8);
}

.qty-info{
  margin: 0 45px;
  font-weight: 500;
}

/*Shopping Cart*/
.cart-wrapper{
  position: absolute;
  width: 360px;
  max-height: 500px;
  top:65px;
  right:0px;
  background: #fff;
  padding: 24px 24px 32px 24px;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-notification{
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color:var(--clrBlueGrey);
  position: absolute;
  bottom:15%;
  left:50%;
  transform: translateX(-50%);
}

.card-header{
  display: flex;
  justify-content: space-between;
}

.card-header .btn,
.cart-title{
  font-size: 16px;
  color:var(--clrVeryDarkBlue);
  font-weight: 700;
  position: relative;
  margin-bottom: 52px;
}

.cart-title::after{
  content:'';
  position:absolute;
  width: 360px;
  height: 1px;
  left:-24px;
  bottom:-27px;
  background:var(--clrSeperator);
}

.cart-item-details-wrapper{
display: grid;
grid-template-columns: 2fr 6fr 1fr;
gap:10px;
margin-bottom: 20px;
}

.cart-item-image-wrapper{
  width: 50px;
  height: 50px;
  align-self: flex-start;
  margin-right: 10px;
}

.cart-item-image-wrapper img{
  border-radius: 4px;
}

.cart-item-name,
.cart-item-price,
.cart-item-color,
.cart-item-size
{
  color:var(--clrBlueGrey);
}

.cart-color-size-wrapper{
  margin: 5px 0;
}

.cart-item-color,
.cart-item-size {
  font-size: 14px;
}

.cart-item-price span{
  font-weight: 700;
  color:var(--clrVeryDarkBlue);
}

.stock-info-wrapper{
  display: flex;
  align-items: center;
  color:var(--clrBlueGrey);
  font-size: 14px;
  gap:20px;
  margin-top: 6px;

}

.stock-info-wrapper select{
  border: none;
  background: var(--clrVeryLightGrey)
}

.cart-trash-container{
  justify-self:right;
  align-self:center;
}

.cart-delete-img-container {
  height: 16px;
  width: 16px;
}

/*Register Form*/
.form-wrapper{
  width: 400px;
  position: relative;
  margin-top: 150px;
}

.btn-navigate-profile{
  position: absolute;
  top:-50px;
}
 
.alert-wrapper{
  padding:10px;
  margin-bottom: 15px;
}

.alert-wrapper.error{
   background: var(--clrLightOrange);
  border:1px solid var(--clrOrange);
}

.alert-wrapper.warning{
  background:var(--clrWarning);
  border: 1px solid var(--clrLightOrange);
}

.alert-wrapper.warning p {
  color:var(--clrDarkBlue);
  font-weight: 400;
}

.alert-wrapper.success {
  background: var(--clrGreen);
  border:1px solid var(--clrLightOrange);
}

.alert-wrapper.success p{
  color:var(--clrVeryLightGrey);
}

.alert-wrapper p{
  color:var(--clrDarkBlue);
  font-size: 15px;
  font-weight: 500;
}

.form-wrapper h1{
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper label{
  color:var(--clrBlueGrey);
  font-size: 14px;
  margin-bottom: 2px;
}

.form-wrapper input,
.form-wrapper select{
  height: 30px;
  border:1px solid var(--clrLightGrey);
  padding: 5px 10px;
  font-size: 14px;
}

.form-wrapper input:focus,
.form-wrapper select:focus {
  border:none;
  outline: 2px solid var(--clrDarkBlue);
}

.form-wrapper input.alert,
.form-wrapper select.alert{
  border:none;
  outline: 2px solid red;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;
}

.form-group i{
  position: absolute;
  right:10px;
  top:53%;
}

.form-group:last-of-type{
  margin-bottom: 15px;
}

.form-redirect-wrapper{
  margin-top: -5px;
}

.form-redirect-wrapper p{
  font-size: 14px;
}

.form-group-address{
  border:1px solid var(--clrLightGrey);
  padding: 5px 0 ;
  margin-bottom: 15px;
}

.form-group-address h4{
  text-align: center;
}

.form-group-address input,
.form-group-address select {
  height:30px;
  width: 80%;
  margin: auto;
}

.form-group-address label {
  margin-left:10%;
}

.form-redirect-wrapper a {
 font-weight: 700;
}

/*Account Page*/
.account-page-wrapper{
  width: var(--widthMedium)
}

.account-page{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 20px;
}

/*Account Card*/
.account-card-wrapper{
  width: 300px;
  height: 120px;
  padding: 20px;
  border:1px solid var(--clrLightGrey);
}

.account-card-wrapper h3{
  font-weight: 500;
}

.account-card-wrapper p{
  color:var(--clrDarkBlue);
  margin-top: 10px;
  font-size: 15px;
}

.account-card-wrapper:hover{
  background: var(--clrVeryLightGrey);
}

/*Checkout Page*/
.checkout-page-wrapper{
  width: var(--widthMedium);
}

.checkout-page-wrapper h1{
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--clrVeryDarkBlue);
}

.checkout-page-wrapper h2{
  text-align: center;
  margin: 20px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.checkout-header, .checkout-item-row {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  padding: 10px 30px;
}

.checkout-header th{
  color:var(--clrBlueGrey);
  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

.checkout-header {
  background: linear-gradient(var(--clrVeryLightGrey), #dae6fc);
  margin-bottom: 20px;
}

.checkout-item-row td{
  display: flex;
  align-items: center;
  gap:20px;
  color:var(--clrDarkBlue);
  border-bottom: 1px solid var(--clrSeperator);
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.checkout-item-description{
  flex-direction: column;
}

.checkout-item-description small{
  margin-bottom: 2px;
}

.checkout-item-color-size-wrapper{
  margin: 5px 0;
}

.checkout-item-row td p {
  color:var(--clrDarkBlue)
}



.checkout-item-row td:first-child p:hover{
  text-decoration: underline;
}

.checkout-item-row td:last-child{
  justify-content: center;
}

tbody img{
  width: 90px;
  height: 90px;
}

tbody select {
  border:1px solid var(--clrLightGrey);
  padding: 2px;
  border-radius: 5px;
}

.cart-item-delete{
  width: 20px;
  height: 20px;
}

.total-info-wrapper{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: flex-end;
  padding:0 30px;
  margin-top: 30px;
  color:var(--clrDarkBlue);
  font-weight: 500;
}

.total-info-wrapper p:nth-child(2) span.success{
  color:var(--clrDarkGreen);
}

.total-info-wrapper p:last-of-type {
  font-size: 22px;
  padding: 10px 0;
}

.total-info-wrapper p:last-of-type span{
  font-weight: 700;
}

/*Payment Page*/
.payment-page-wrapper{
  width: var(--widthMain);
}

.payment-page-wrapper .btn-navigate{
  margin-bottom: 20px;

}

.shipping-billing-wrapper{
  display: flex;
  gap:50px;
}


/*Shipping Summary*/
.shipping-summary-wrapper{
  display: flex;
  flex-direction: column;
  gap:10px;
  border: 1px solid var(--clrLightGrey);
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin-bottom: 25px;
}

.summary-row {
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
}

.summary-row:first-child{
  border-bottom: 1px solid var(--clrSeperator);
  padding-bottom: 10px;
}

.summary-row h4{
  font-weight: 400;
  font-size:16px;
  letter-spacing: -0.25px;
  color:var(--clrBlueGrey)
}

.summary-row p{
  font-weight: 400;
}

.summary-edit-btn{
  justify-self:end;
}

/*Payment Form*/
.payment-form-wrapper{
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.shipping-billing-wrapper .btn-navigate{
  margin-bottom: 20px;
}

.form-section-title{
  margin-bottom: 10px;
}

.form-section-title h3{
  font-size:18px;
  letter-spacing: -0.25px;
}

.form-section-title p{
  font-size: 15px;
}

.form-section-title .alert-wrapper {
  margin-top: 10px;
  padding: 15px 10px;
}

.form-section-title .alert-wrapper p {
  font-size: 14px;
}

.payment-method-wrapper{
  border:1px solid var(--clrLightGrey);
  border-radius: 5px;
  margin-bottom: 25px;
}

.payment-method-form-group {
 display: flex;
 align-items: center;
 padding: 15px; 
}


.payment-method-form-group {
  display: flex;
  justify-content: space-between;
}

.card-icons-wrapper{
  display: flex;
  gap:10px
}

.payment-method-form-group:first-child {
  border-bottom: 1px solid var(--clrLightGrey);
}

.payment-form-wrapper input[type='radio']{
  margin-right: 10px;
}

.payment-method-form-group label{
  font-size: 15px;
  letter-spacing: -0.25px;
}

.credit-card-form-wrapper,
.paypal-button-wrapper {
  display: none;
}

.payment-form-wrapper input[type='text'] {
  display: block;
  width: 100%; 
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  font-size: 14px;
  border:1px solid var(--clrLightGrey)
}

.card-number-wrapper{
  position: relative;
}

.lock-icon-wrapper{
  position: absolute;
  right:10px;
  top:50%;
  transform: translateY(-50%);
}

.expiration-security-wrapper{
  display: grid;
  grid-template-columns: 10fr 9fr;
  gap:10px;
  position: relative;
}

.security-code-wrapper{
  position: relative;
}

.security-code-tip-wrapper, .encryption-tip-wrapper {
  position: absolute;
  top:-115px;
  right:-55px;
  width: 150px;
  height: auto;
  text-align: center;
  line-height: 16px;
  padding: 10px;
  background-color: rgba(44, 44, 44, 0.95);
  border-radius: 3px;
  color:#fff;
  font-size: 12px;
  letter-spacing:-0.3px
}

.encryption-tip-wrapper{
  top:-50px;
}

.tip-icon-holder{
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
}

/*Billing Form*/
.billing-address-form-wrapper{
  display: none;
}

.billing-address-form-group-wrapper{
  border:1px solid var(--clrLightGrey);
  border-radius: 5px;
  }
  
.credit-card-form-wrapper.visible, 
.billing-address-form-wrapper.visible,
.paypal-button-wrapper.visible
{
  display: flex;
  flex-direction: column;
  gap:18px;
  background-color: var(--clrVeryLightGrey);
  border-radius: 5px;
  padding:20px 15px;
}

.alert-validation{
  color: red;
  position: absolute;
  font-size: 11px;
  top:-15px;
  left:2px;
}

.paypal-button-wrapper.visible{
margin-left: 20px;
}

.billing-address-form-wrapper select{
  border:1px solid var(--clrLightGrey);
  padding: 10px 50px 10px 10px;
  border-radius: 5px;
  width: 100%
}

.first-last-name{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}

.billing-address-form-group{
  padding: 15px;
}

.billing-address-form-group:first-child{
  border-bottom: 1px solid var(--clrLightGrey);
}

.form-group-billing:last-child {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}

.payment-form-wrapper footer {
margin-top: 20px;
padding-bottom: 40px;
align-self: flex-end;
}

/*Payment Page Order Summary*/
.order-summary-wrapper{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.order-items-wrapper{
  border-bottom: 1px solid var(--clrLightGrey);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.order-item-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap:30px;
  align-items:center;
}


.order-item-img-wrapper{
  position: relative;
  width: 80px;
  height: 80px;
}

.order-item-qty{
  position: absolute;
  top:-5px;
  right:-5px;
  background:var(--clrBlueGrey);
  color:#fff;
  font-size: 10px;
  height:20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-item-total{
  justify-self: end;
}

.order-summary-subs-wrapper{
  display: flex;
  flex-direction: column;
  gap:10px;
  border-bottom: 1px solid var(--clrLightGrey);
  padding-bottom: 20px;
}

.order-total-row{
  display: flex;
  justify-content: space-between;
}

.order-summary-total-wrapper{
  display: flex;
  justify-content: space-between;
}

.order-summary-total-wrapper span{
  color:var(--clrBlueGrey);
  font-size: 12px;
  margin-right: 5px;
  font-weight: 100;
  letter-spacing: 0.25px;
}

.total-bill{
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
}

/*Order Confirmation Page*/
.order-confirmation-page-wrapper {
  max-width: var(--widthMain)
}

.order-confirmation-header{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 26px;
  letter-spacing:0.5px;
  background: var(--clrGreen);
  height:100px;
  margin-bottom: 50px;
}

.order-confirmation-wrapper{
  margin: auto;
  max-width: var(--widthMedium);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:50px;
}

.order-confirmation-wrapper h3{
  color:var(--clrBlueGrey);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--clrSeperator);
}

.confirmation-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.confirmation-row:last-of-type {
  margin-top: 15px;
  font-size: 22px;
}

.confirmation-row:last-of-type h4{
  font-weight: 700;
}

.delivery-info-wrapper{
  max-width: 70%;
  margin: auto;
 margin-top: 20px;
 display: flex;
 gap:20px
}

.delivery-info-wrapper p{
  font-weight: 400;
  font-size: 15px;
}

.order-item-confirmation-details-wrapper{
  display: flex;
  gap:20px;
  margin-bottom: 8px;
}


.order-item-confirmation-image-wrapper{
  width: 65px;
  height: 65px;
}

.order-item-confirmation-name-wrapper{
  font-size: 15px;
}


