@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
  /*Colors*/
  --clrLightGrayishViolet:hsl(270, 3%, 87%);
  --clrdarkGrayishViolet:hsl(279, 6%, 55%);
  --clrVeryDarkViolet: hsl(278, 68%, 11%);
}

*,
*::after,
*::before {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.4;
  height: 100vh;
}

.container {
  height: 100%;
  max-width: 11440px;
  background:white url('./images/bg-main-desktop.png') no-repeat;
  background-size: auto 100vh;
  position: relative;
}

.card-front{
  position: absolute;
  top:180px;
  left:200px;
  color:#fff;
}

.card-name,
.card-expiry,
.card-logo,
.card-number
 {
 position: absolute;
}

.card-logo{
  top:30px;
  left:30px;
}

.card-number{
  font-size: 28px;
  bottom:80px;
  left:30px;
  letter-spacing: 3px;
}

.card-name{
  bottom: 30px;
  left:30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.card-expiry{
right:30px;
bottom:30px;
font-size: 14px;
letter-spacing: 3px;
}

.card-back{
  position: absolute;
  top:230px;
  left:150px;
}


form{
  position: absolute;
  display: flex;
  width:370px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:50%;
  right:15%;
  transform: translateY(-50%);
  color:var(--clrVeryDarkViolet);
  text-transform: uppercase;
}

.form-group{
  width: 100%;
  margin-bottom: 1rem;
  font-size: 14px;
}

.form-group:nth-child(3){
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1rem;
}

.form-expiry{
  grid-column: span 2;
  display:flex;
  flex-direction: column;
}

.expiry-input-group{
  display: flex;
  gap:0.5rem;
}

.form-cvc{
  grid-column: span 2;
}

label{
  display: block;
  margin-bottom:5px;
}

input{
  width: 100%;
  border:1px solid var(--clrLightGrayishViolet);
  padding:12px 20px;
  border-radius: 10px;
  font-size: 20px;
}

input::placeholder {
  color:var(--clrdarkGrayishViolet);
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
  
}

.btn{
  color:#fff;
  background: var(--clrVeryDarkViolet);
  border:none;
  border-radius: 10px;
  padding:15px;
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 1rem;
}


.btn-block{
  width: 100%;
}

