@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

:root{
  /*Colors*/
  --clrBrightBlue: hsl(220, 98%, 61%);

  /*Light Theme*/
  --clrVeryLightGray:hsl(0, 0%, 96%);
  --clrVeryLightGrayishBlue: hsl(236, 33%, 92%);
  --clrLightGrayishBlue: hsl(234, 17%, 77%);
  --clrDarkGrayishBlue: hsl(240, 10%, 60%);
  --clrVeryDarkGrayishBlue: hsl(235, 19%, 35%);

  /*Dark Theme*/
  --clrVeryDarkBlue: hsl(235, 21%, 11%);
  --clrVeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --clrLightGrayishBlueDark: hsl(234, 39%, 85%);
  --clrLightGrayishBlueDark: hsl(236, 33%, 92%); /*hover*/
  --clrDarkGrayishBlueDark: hsl(233, 12%, 56%);
  --clrVeryDarkGrayishBlueDark: hsl(233, 14%, 35%);
  --clrVeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

*,
*::after,
*::before {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*Utilities*/
.completed{
  text-decoration: line-through;
  color:var(--clrLightGrayishBlue);
}

.btn{
  border:none;
  background: none;
  font-family: inherit;
  font-size: 14px;
  color:var(--clrDarkGrayishBlue);
  cursor: pointer;
}

.active{
  color:var(--clrBrightBlue);
}

button[disabled]{
  color:var(--clrLightGrayishBlue);
  cursor: default;
}


/*Body*/
body{
  font-family: 'Josefin Sans', sans-serif;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*Main*/
.todo-bg-wrapper {
  width: 1440px;
  height:800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/*Header, includes input field*/ 
header{
  position: absolute;
  width: 540px;
  top:50px;
}

/*Theme Switcher*/
.theme-switch {
  position: relative;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.theme-switch.light {
  background: url('./images/icon-moon.svg') no-repeat center/contain;
}

.theme-switch.dark{
  background: url('./images/icon-sun.svg') no-repeat center/contain;
}

.theme-switch input[type="checkbox"]{
  visibility: hidden;
  position: absolute;
}

.todo-bg-wrapper.light{
  background:var(--clrVeryLightGray) url('./images/bg-desktop-light.jpg') no-repeat;;
}

.todo-bg-wrapper.dark{
  background:var(--clrVeryDarkBlue) url('./images/bg-desktop-dark.jpg') no-repeat;;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-title{
  text-transform: uppercase;
  color:#fff;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
}

/*Input Component*/
.todo-input-wrapper{
  border-radius: 5px;
  display: flex;
  align-items:center;
  padding: 20px;
}

.todo-input-wrapper.light{
  background: #fff;
  color:var(--clrVeryDarkGrayishBlue);
}

.todo-input-wrapper.dark{
  background: var(--clrVeryDarkDesaturatedBlue);
  color:var(--clrDarkGrayishBlueDark);
}

.todo-input-label,
.todo-completed-label{
  position: relative;
  margin-right: 20px;
  border: 1px solid var(--clrVeryDarkGrayishBlue);
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.todo-input-label:has(input[type="radio"]:checked){
  border: none;
}

.todo-input-label input[type="radio"]{
  position: absolute;
  visibility: hidden;
}

.todo-input-label:has(input[type="radio"]:disabled) {
 border: 1px solid var(--clrLightGrayishBlue)
}

.todo-input-label:has(input[type="radio"]:checked)::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  background-image: url('./images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.todo-input-label:has(input[type="radio"]:checked)::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg,hsl(280,87%,65%), hsl(192,100%,67%));
  border-radius: 50%;
}

.todo-input-wrapper input[type="text"]{
  width: 90%;
  border:none;
  outline:none;
  font-size: 18px;
  font-family: inherit;
  background: inherit;
  color:inherit;
}

.todo-input-wrapper.light input[type="text"]::placeholder{
  color:var(--clrDarkGrayishBlue);
}

.todo-input-wrapper.dark input[type="text"]::placeholder{
  color:var(--clrDarkGrayishBlueDark);
}


/*Todo List Display*/
.todo-main-wrapper {
  position: absolute;
  width: 540px;
  top:200px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
}

.todo-list-wrapper{
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: 480px;
  overflow-y: auto;
}

.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  border-bottom: 1px solid var(--clrLightGrayishBlue);
}

.todo-display{
  display: flex;
  align-items: center;
  font-size: 18px;
  color:var(--clrVeryDarkGrayishBlue);
  font-weight: 500;
}

.todo-completed-label{
  border:1px solid var(--clrLightGrayishBlue);
}

.todo-completed-label:has(input[type="checkbox"]:checked)::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg,hsl(280,87%,65%), hsl(192,100%,67%));
  border-radius: 50%;
  z-index: 1;
}

.todo-completed-label:has(input[type="checkbox"]:checked)::before{
  content: '';
  position: absolute;
  height:10px;
  width: 10px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: url('./images/icon-check.svg') no-repeat;
  z-index: 2;
}

.todo-completed-label input[type="checkbox"]{
 visibility: hidden;
  position: absolute;
}

/*Delete Individual Item Button*/
.todo-item img{
  cursor: pointer;
}

.todo-info {
 display: grid;
 grid-template-columns: repeat(6,1fr);
 padding: 20px;
 background: #fff;
 border-radius: 0px 0px 5px 5px;
 position: relative;
}

.items-left{
  align-self: center;
  grid-column: span 2;
  color:var(--clrDarkGrayishBlue);
  margin-right: 40px;
  font-size: 14px;
}

.items-left span{
 grid-column: span 1;
}

.items-left span:first-child{
  height: auto;
  width: 15px;
  display: inline-block;
}

.display-control{
  display: flex;
  align-items: center;
}

.items-clear{
  grid-column: span 3;
  justify-self: end;
}

/*All - active - completed buttons*/
.display-control .btn{
  margin-right: 10px;
  font-weight: 700;
}

/*Re-order label*/
.reorder{
  position: absolute;
  top:80px;
  left:50%;
  transform:translateX(-50%);
  font-weight: 600;
  font-size: 14px;
  color:var(--clrDarkGrayishBlue);
  
}


